.myfoctheme .v-contexthelp-bubble {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: $v-font-family;
	font-size: 12px;
	line-height: normal;
}

.myfoctheme .v-contexthelp-bubble .popupContent {
	background-repeat: no-repeat;
	max-width: 400px;
}

.myfoctheme .v-contexthelp-bubble.right {
	margin-left: 6px;
}

.myfoctheme .v-contexthelp-bubble.right .popupContent:after, .myfoctheme .v-contexthelp-bubble.right .popupContent:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	background-color: transparent;
}

.myfoctheme .v-contexthelp-bubble.right .popupContent:after {
	background-color: transparent;
	border: valo-border();
	border-left-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-width: 2px;
	margin-top: -2px;
}

.myfoctheme .v-contexthelp-bubble.right .popupContent:before {
	background-color: transparent;
	border: valo-border();
	border-left-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-width: 6px;
	margin-top: -6px;
}

.myfoctheme .v-contexthelp-bubble.left {
	margin-left: -6px;
}

.myfoctheme .v-contexthelp-bubble.left .popupContent:after, .myfoctheme .v-contexthelp-bubble.left .popupContent:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	background-color: transparent;
}

.myfoctheme .v-contexthelp-bubble.left .popupContent:after {
	background-color: transparent;
	border: valo-border();
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-width: 2px;
	margin-top: -2px;
}

.myfoctheme .v-contexthelp-bubble.left .popupContent:before {
	background-color: transparent;
	border: valo-border();
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-width: 6px;
	margin-top: -6px;
}

.myfoctheme .v-contexthelp-bubble.above {
	margin-top: -6px;
}

.myfoctheme .v-contexthelp-bubble.above .popupContent:after, .myfoctheme .v-contexthelp-bubble.above .popupContent:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	background-color: transparent;
}

.myfoctheme .v-contexthelp-bubble.above .popupContent:after {
	background-color: transparent;
	border: valo-border();
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-width: 2px;
	margin-left: -2px;
}

.myfoctheme .v-contexthelp-bubble.above .popupContent:before {
	background-color: transparent;
	border: valo-border();
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-width: 6px;
	margin-left: -6px;
}

.myfoctheme .v-contexthelp-bubble.below {
	margin-top: 6px;
}

.myfoctheme .v-contexthelp-bubble.below .popupContent:after, .myfoctheme .v-contexthelp-bubble.below .popupContent:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	background-color: transparent;
}

.myfoctheme .v-contexthelp-bubble.below .popupContent:after {
	background-color: transparent;
	border: valo-border();
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	border-width: 2px;
	margin-left: -2px;
}

.myfoctheme .v-contexthelp-bubble.below .popupContent:before {
	background-color: transparent;
	border: valo-border();
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	border-width: 6px;
	margin-left: -6px;
}

.myfoctheme .v-contexthelp-bubble .popupContent .helpText {
	background: $v-panel-background-color;
	border: valo-border();
	border-width: 4px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 2em;
	text-shadow: #FFF 0px 1px 0px;
	font-size: 11pt;
}

.myfoctheme .v-contexthelp-bubble.right .popupContent .helpText {
	-moz-box-shadow: 2px 0px 8px #999;
	-webkit-box-shadow: 2px 0px 8px #999;
	box-shadow: 2px 0px 8px #999;
}

.myfoctheme .v-contexthelp-bubble.below .popupContent .helpText {
	-moz-box-shadow: 0px 2px 8px #999;
	-webkit-box-shadow: 0px 2px 8px #999;
	box-shadow: 0px 2px 8px #999;
}

.myfoctheme .v-contexthelp-bubble.left .popupContent .helpText {
	-moz-box-shadow: -2px 0px 8px #999;
	-webkit-box-shadow: -2px 0px 8px #999;
	box-shadow: -2px 0px 8px #999;
}

.myfoctheme .v-contexthelp-bubble.above .popupContent .helpText {
	-moz-box-shadow: 0px -2px 8px #999;
	-webkit-box-shadow: 0px -2px 8px #999;
	box-shadow: 0px -2px 8px #999;
}

.myfoctheme .v-button.v-button-link.v-button-context-help, .myfoctheme .v-button.v-button-link.v-button-context-help.v-pressed {
	margin-left: 0.5em;
	background: url(../../../VAADIN/addons/contexthelp/images/info.png) no-repeat 50% 50%;
	background-size: 1em 1em;
	cursor: hand;
	height: 2em;
	width: 1em;
}